html,
body {
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
}

body {
	min-height: 100%;
	position: relative;
	background-color: #4d4d4d;
	font-family: 'Lato', sans-serif;
	color: #e6e6e6;
}

#htop {
	background-color: #333333;
}

h1.logo {
	margin: 0 0 15px 0;
	text-align: center;
	font-size: 34px;
	font-weight: 700;
	height: 50px;
	padding: 20px;
	letter-spacing: 5px;
	border-bottom: 1px solid black;
}

.logo a {
	text-decoration: none;
	color: inherit;
}

.pcColor {
	color: chocolate;
}

h2 {
	text-align: center;
	letter-spacing: 2px;
	font-size: 28px;
	padding: 15px;
	margin: 0;
}

h3 {
	letter-spacing: 1px;
	font-size: 22px;
	padding: 10px;
	margin: 0;
}

#t01 {
	width: 1200px;
	margin: 0 auto;
	table-layout: fixed;
	border-collapse: collapse;
}

th,
td {
	padding: 6px 12px;
}

table#t01 tr:nth-child(even) {
	background-color: #e9e9e9;
}

table#t01 tr:nth-child(odd) {
	background-color: #f6f6f6;
}

table > tfoot > tr > td {
	font-weight: 700;
	background-color: #333333;
}

table > thead > tr > th {
	font-weight: 700;
	background-color: #333333;
	text-align: left;
}

table > tbody > tr > td > a:link {
	color: #3b3b3b;
	text-decoration: none;
}

table > tbody > tr > td > a:visited {
	color: #3b3b3b;
}

table > tbody > tr > td a {
	-webkit-transition: all .2s ease;
	transition: all .2s ease;
}

table > tbody > tr > td > a:hover {
	color: #3b3b3b;
	text-shadow: 0 0 3px #3b3b3b;
}

table > tbody > tr > td > a:active {
	color: #3b3b3b;
}

table > tbody > tr > td:first-child {
	color: #3b3b3b;
}

aside {
	width: 1200px;
	margin: 0 auto;
}

.changelog {
	margin-top: 5px;
	font-size: 15px;
	text-align: left;
	width: 300px;
	padding-bottom: 50px;
	/*main page sticked footer 50px+15px margin*/
}

.changelog > p {
	border-radius: 10px;
	margin: 15px 0 15px 10px;
	padding: 10px;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 1);
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 1);
	line-height: 20px;
}

/*sticked footer start*/

footer {
	background-color: #333333;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 50px;
	/* footer height */
	border-top: 1px solid black;
}

#rights {
	width: 1168px;
	text-align: center;
	margin: 0 auto;
	padding: 16px;
	font-size: small;
}

/*sticked footer end*/

.program {
	cursor: help;
}

#oprogramie {
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 1);
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 1);
	background-color: #333333;
	border-radius: 10px;
	font-size: 18px;
	text-align: justify;
	margin: 15px auto 0;
	padding: 15px;
	width: 1170px;
}

#oprogramie > img {
	float: right;
	margin: 30px 0 15px 15px;
}

#oprogramie > p {
	padding: 10px;
}

#back {
	margin: 15px auto 0;
	width: 135px;
	height: 38px;
	padding-bottom: 65px;
	/*program page - sticked footer 50px+15px margin*/
}

a.powrot {
	-webkit-box-shadow: 5px 5px 5px 0px #333333;
	box-shadow: 5px 5px 5px 0px #333333;
	background-color: #be7b41;
	border-radius: 10px;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-size: 17px;
	padding: 7px 30px;
	text-decoration: none;
	text-shadow: 1px 1px 0px #000000;
}

a.powrot:hover {
	background-color: #ab6f3b;
}

a.powrot:active {
	position: relative;
	top: 1px;
}

a.artlink:link {
	color: #e4b36a;
	text-decoration: none;
	font-style: italic;
}

a.artlink:visited {
	color: #e4b36a;
}

a.artlink:hover {
	color: #ff9800;
}

a.artlink:active {
	color: #e4b36a;
}

.info {
	font-size: 16px;
	padding: 10px;
}

.tooltip {
	position: relative;
	border-bottom: 1px dotted #58f7a6;
	text-decoration: none;
	cursor: help;
}

.tooltip::before {
	content: attr(data-tooltip);
	bottom: 20px;
	position: absolute;
	left: 100%;
	right: 100%;
	font-size: 14px;
	text-align: center;
	display: inline-block;
	padding: 8px 4px;
	color: #000;
	background: #be7b41;
	width: 150px;
	border-radius: 20px;
	-webkit-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
	opacity: 0;
	visibility: hidden;
	-webkit-transition: 0.6s opacity;
	transition: 0.6s opacity;
}

.tooltip:hover::before {
	visibility: visible;
	opacity: 1;
}

ol {
	margin-left: 10px;
	list-style-type: decimal;
}

ol > li {
	padding-left: 5px;
}

ul > li {
	margin: 2px 0;
	list-style-type: square;
}

span.bold {
	font-weight: bold;
}

p.quote {
	border-radius: 10px;
	background: #4d4d4d;
	font-style: italic;
}

/*RWD start*/

@media all and (max-width:1200px) {
	#rights {
		width: auto;
	}
	aside {
		width: auto;
	}
	#oprogramie {
		width: auto;
		margin: 0 10px;
	}
}

@media all and (max-width:440px) {
	#rights {
		width: auto;
		padding: 9px;
	}
}

@media screen and (max-width:1200px) {
	.rwd-table {
		overflow-x: scroll;
	}
}

@media screen and (min-width:1200px) {
	table {
		width: auto;
	}
}

/*RWD end*/
